/*Css For header Part of Website*/
#header {
    background: #3b5998;
    color: white;
    font-size: 14px;
    height: 30px;
}
  #header a {
      color: white;
  }
  #header a:hover{
    color: gray;
  }
  #header .dropdown li a {
      color: black;
  }
  #header .nav>li>a{
    padding: 10px;
  }
  #header .navbar-toggle span {
    background: white;
  }
  #header .line{
    color: rgb(24, 23, 23);
    padding: 8px;
  }
  #header ul .glyphicon {
      font-size: 20px;
      color:rgb(42, 41, 42) ;
  }
  #header ul .glyphicon:hover {
      font-size: 20px;
      color: black;
  }
  #header input[type=text] {
    border: 0px Solid Black;
    padding: 6px;
    width: 380px;
    height: 25px;
    border-radius: 0px;
    border-radius: 3px 0 0 3px;
  }
  #header .search {
    border: 0px Solid Black;
    width: 50px;
    height: 25px;
    margin-left: -5px;
    border-radius: 0px;
    border-radius: 0 3px 3px 0;
  }
  /*header Section Css End Here*/

  /*Class For Styling Profile Pic Of User*/
  .ProfilePic {
    width: 25px;
    height: 25px;
  }

  /*Main Body Css Start From Here*/
#wrapper {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  #main,
  #menu,
  #sidebar {
    height: 600px;
    background-color: #e9ebdd;
    border-radius: 5px;
    padding: 10px;
  }
  #wrapper {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .list-heading {
      padding: 20px 15px 0 15px;
      font-size: 11px;
      text-shadow: 2px 2px 2px 2px gray;
  }
  #header .Sbadge{
    background: ##3b5998;
    color: White;
  }
  #menu li:hover{
    background: white;
    color: gray;
    border-radius: 20px;
    font-weight: bold;
  }
  .focus{
    background: white;
    border-radius: 20px;
    color: gray;
    font-weight: bold;
  }
  #menu .Sbadge{
    background-color: rgba(255, 255, 255, 0);
    color: gray;
    padding: 5px;
    float: right;
    font-size: 10px;
  }
  #menu a{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(35, 34, 36);
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
  }
  #menu #more a {
    color: #3b5998;
  }
  #menu #more a:hover{
    text-decoration: underline;
  }
  #create_section a{
    font-size: 10px;
    color: #3b5998;
  }
  #create_section a:hover{
    text-decoration: underline;
  }

  .panel-body .glyphicon {
      margin-left: 10px;
      margin-right: 4px;
  }
    .text-post {
    margin-bottom: 15px;
    margin-top: 0;
}
.image-post {
    margin-bottom: 15px;
}
#main {
    overflow: auto;
}
#main::-webkit-scrollbar {
  display: none;
}
#newpost ul li .glyphicon {
    font-size: 15px;
    padding: 5px;
    color:#3b5998;
}
#newpost a:hover {
    color: #3b5998;
    background: White;
}
#newpost ul li .glyphicon:hover {
    color:White;
}
#newpost a:hover {
    color: white;
    background: #3b5998;
}

.postimage{
  display: inline;
  width: 49%;
}

.rightside{
  padding: 10px;
  display: block;
  background: white;
  border-radius: 3px;
}
.rightside .fa {
  padding-right: 5px;
  font-size: 15px;
}
#tranding #rightsideicon{
  padding: 0px;
  color: #3b5998;
  float: right;
}
#tranding #trandingbody{
  margin-top: 10px;
}
#tranding a{
  padding: 3px;
  margin: 0px;
}
#sidebar #myCarousel img{
  height: 150px;
  width: 100%;
}
.likepage{
  width: 110px;
  height: 24px;
  background: #ced0d4;
  border: 1px solid gray;
  color: black;
  border-radius: 3px;
  margin-top: 5px;
}
