#header {
    background: #3b5998;
    color: white;
    font-size: 14px;
    height: 30px;

}
  #header a {
      color: white;
  }
  #header a:hover{
    color: gray;
  }
  #header .dropdown li a {
      color: black;
  }
  #header .nav>li>a{
    padding: 10px;
  }
  #header .navbar-toggle span {
    background: white;
  }
  #header .line{
    color: rgb(24, 23, 23);
    padding: 8px;

  }
  #header ul .glyphicon {
      font-size: 20px;
  }
  #header input[type=text] {
    border: 0px Solid Black;
    padding: 6px;
    width: 330px;
    height: auto;
    border-radius: 0px;
    border-radius: 3px 0 0 3px;
  }
  #header .search {
    border: 0px Solid Black;
    width: 50px;
    margin-left: -5px;
    height: auto;
    border-radius: 0px;
    border-radius: 0 3px 3px 0;
  }
  .pp {
    width: 25px;
    height: 25px;
  }
#wrapper {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  #main,
  #menu,
  #sidebar {
    height: 600px;
    background-color: #e9ebdd;
    border-radius: 5px;
    padding: 10px;
  }
  #wrapper {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .list-heading {
      padding: 20px 15px 0 15px;
      font-size: 11px;
      text-shadow: 2px 2px 2px 2px gray;
  }
  #header .Sbadge{
    background: #1a2973;
    color: White;
  }
  #menu li:hover{
    background: white;
    color: gray;
    border-radius: 20px;
    font-weight: bold;
  }
  .focus{
    background: white;
    border-radius: 20px;
    color: gray;
    font-weight: bold;
  }
  #menu .Sbadge{
    background-color: rgba(255, 255, 255, 0);
    color: gray;
    padding: 5px;
    float: right;
    font-size: 10px;
  }
  #menu a{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(35, 34, 36);
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
  }
  #menu #more a {
    color: #3b5998;
  }
  #menu #more a:hover{
    text-decoration: underline;
  }

  #screate a{
    font-size: 10px;
    color: #3b5998;
  }
  #screate a:hover{
    text-decoration: underline;
  }
